#main{
  border: 1px solid black;
  height : 800px;
  width : 600px;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
#result{
  height: 150px;
  width: 400px;
  background-color: black;
  border: 1px solid black;
  font-size: 30px;
  border-radius: 10%;
  color:white;
  margin-top: 10px;
  margin-left: 40px;
  
}

#one,#two,#three,#four,#five,#six,#seven,#eight,#nine,#zero{
  border: 1px solid black;
  height:100px;
  width: 140px;
  background-color: yellow;
  
  text-align: center;
  font-size: 50px;
  justify-content: center;
  
  
}
/*
#two{
  border: 1px solid black;
  height:80px;
  width: 100px;
  background-color: yellow;
  border-radius: 50%;
  text-align: center;
  font-size: 50px;
  
}
#three{
  border: 1px solid black;
  height:80px;
  width: 100px;
  background-color: yellow;
  border-radius: 50%;
  text-align: center;
  font-size: 50px;
  
}
#four{
  border: 1px solid black;
  height:80px;
  width: 100px;
  background-color: yellow;
  border-radius: 50%;
  text-align: center;
  font-size: 50px;
  
}
#five{
  border: 1px solid black;
  height:80px;
  width: 100px;
  background-color: yellow;
  border-radius: 50%;
  text-align: center;
  font-size: 50px;
  
}
#six{
  border: 1px solid black;
  height:80px;
  width: 100px;
  background-color: yellow;
  border-radius: 50%;
  text-align: center;
  font-size: 50px;
  
}
#seven{
  border: 1px solid black;
  height:80px;
  width: 100px;
  background-color: yellow;
  border-radius: 50%;
  text-align: center;
  font-size: 50px;
  
}
#eight{
  border: 1px solid black;
  height:80px;
  width: 100px;
  background-color: yellow;
  border-radius: 50%;
  text-align: center;
  font-size: 50px;
  
}
#nine{

  border: 1px solid black;
  height:80px;
  width: 100px;
  background-color: yellow;
  border-radius: 50%;
  text-align: center;
  font-size: 50px;
  
}
#zero{
  border: 1px solid black;
  height:80px;
  width: 100px;
  background-color: yellow;
  border-radius: 50%;
  text-align: center;
  font-size: 50px;

}
*/
#cut,#add,#sub,#mul,#div,#ans,#square,#bracket,#cbracket{
  border: 1px solid black;
  height:100px;
  width: 140px;
  background-color: lightblue;
  text-align: center;
  font-size: 50px;

}
#all{
  border: 1px solid black;
  height:100px;
  width: 140px;
  background-color: lightblue;
  text-align: center;
  font-size: 40px;
  align-self: flex-end;
}
/*
#add{
  border: 1px solid black;
  height:60px;
  width: 100px;
  border-radius: 50%;
  background-color: lightblue;
  text-align: center;
  font-size: 40px;
}
#sub{

  border: 1px solid black;
  height:60px;
  width: 100px;
  border-radius: 50%;
  background-color: lightblue;
  text-align: center;
  font-size: 60px;
}
#mul{
  border: 1px solid black;
  height:60px;
  width: 100px;
  background-color: lightblue;
  border-radius: 50%;
  text-align: center;
  font-size: 40px;
}
#div{
  border: 1px solid black;
  height:60px;
  width: 100px;
  background-color: lightblue;
  border-radius: 50%;
  text-align: center;
  font-size: 40px;
}

#ans{
  border: 1px solid black;
  height:60px;
  width: 100px;
  border-radius: 50%;
  background-color: lightblue;
  text-align: center;
  font-size: 40px;
}

#square{
  
  border: 1px solid black;
  height:60px;
  width: 100px;
  border-radius: 50%;
  background-color: lightblue;
  text-align: center;
  font-size: 40px;
  
}
#bracket{
  
  border: 1px solid black;
  height:60px;
  width: 100px;
  border-radius: 50%;
  background-color: lightblue;
  text-align: center;
  font-size: 40px;
  
}

#cbracket{
  border: 1px solid black;
  height:60px;
  width: 100px;
  border-radius: 50%;
  background-color: lightblue;
  text-align: center;
  font-size: 40px;
  
}
*/

/* 2nd calculator */
#input{
  font-size: 40px;
}
#show{
  background-color: black;
  color : white;
  width: 60vw;
  font-size: 50px;
}
#calculate{
  font-size: 30px;
}

