#ooga {
  color: red;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 40px;
  font-family: arial;
  text-decoration: none;
}
#nok{
  height:400px;
  width: 300px;
  
}
#nok:active{
  background-color: red;
  transform: scale(5);
  transform-origin: 200px 350px;
}

#pred{
  
  text-decoration: none;
  font-size: 30px;
  color:green;
}

