h1{
  color:green;
}


#pred,a{
  
  text-decoration: none;
  font-size: 30px;
  color:blue;
}

#insta,#twit,#face{
 height:50px; 
}

#fot{
  display: flex;
  gap:20px;
  justify-content: ;
}

#no{
  font-size: 20px;
}
