#img{
  position: absolute;
  z-index: -1;
  top:0px;
  left:0px;
  height: 3050px;
  width:1000px;
}

.lab{
 display: none;
font-size: 40px;  
}
h1{
  justify-self: center;
  font-size: 40px;
}
#main{
  margin-left: 20px;
  
}

#da{
  font-size: 60px;
  justify-self: center;
  color:green;
}


#Q1{
  font-size: 40px;
}

#Q2,#Q0,#Q5,#Q4,#Q3,#Q6,#Q7{
  font-size: 40px;
}

#ans1,#ans2,#ans3,#ans4,#ans5,#ans6{
  font-size: 40px;
  
}

#job{
  font-size: 40px;
}
#calc{
  margin-left: 20px;
  font-size: 40px;
  background-color: palevioletred;
  color:black;
}

#name{
  font-size: 40px;
  
  border-radius: 1%;
}

#salary{
  display: none;
  font-size: 40px;
}

#khett{
  display: none;
  width:600px;
  
font-size: 40px;
}


#housev{
  display: none;
  font-size: 40px;
  width:600px;
}

#housec{
display: none;  
  font-size: 40px;
  width:600px;
}

#housecm{
  display: none;
  font-size: 40px;
  width:600px;
}

.a{
  display: none;
  font-size: 40px;
}
#goldd,#silverr{
  display: none;
  font-size: 40px;
  width:600px;
}